<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detailed Ticket View</title>
</head>
<body>
    {% if ticket %}
    <table border="solid">
            <thead>
                <tr>
                    <th>Ticket Number</th>
                    <th>Issue Issue Category</th>
                    <th>Raised By</th>
                    <th>Raised At</th>
                    <th>Issue Details</th>
                    <th>Ticket Status</th>
                    <th>User Contact Details</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                <th><a href="update/{{ticket.Ticket_Number}}">{{ticket.Ticket_Number}}</a></th>
                <th>{{ticket.Issue_Category}}</th>
                <th>{{ticket.Raised_By}}</th>
                <th>{{ticket.Raised_At}}</th>
                <th>{{ticket.Short_Description}}</th>
                <th>{{ticket.Ticket_Status}}</th>
                <th>{{ticket.User_Contact}}</th>
                </tr>
            </tbody>
        </table>
    {% else %}
        <h1>Invalid Item</h1>
    {%endif%}
</body>
</html>