<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detailed View {{ticket.Ticket_Number}}</title>
    <style>
        .main{
            display: flex;
            justify-content: space-around;
        }
        .left{
            display: inline;
            border: 2px soild white;

        }
        p{
            border: 2px solid white;
            width: fit-content;
            padding: 5px;
            border-radius: 2px;
        }
    </style>
  </head>
  <body>
{% if ticket %}
    <div class="main">
      <div class="left">
        <p>{{ticket.Ticket_Number}}</p>
        <p>{{ticket.Issue_Category}}</p>
        <p>{{ticket.Short_Description}}</p>
        <p>{{ticket.Complete_Description}}</p>
      </div>

      <div class="right">
        <p>{{ticket.Ticket_Status}}</p>
        <p>{{ticket.User_Contact}}</p>
        <p>{{ticket.Raised_By}}</p>
        <p>{{ticket.Raised_At}}</p>
      </div>
    </div>
    {% else %}
    <h1>Invalid Item</h1>
    {%endif%}

  </body>
</html>
