<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Tickets List View</title>
</head>
<body>
    <h1>This is the Tickets Page</h1>
    {% if tickets %}
        <table border="solid">
            <thead>
                <tr>
                    <th>Ticket Number</th>
                    <th>Issue Issue Category</th>
                    <th>Raised By</th>
                    <th>Raised At</th>
                    <th>Issue Details</th>
                    <th>Ticket Status</th>
                    <th>User Contact Details</th>

                </tr>
            </thead>
                 
            <tbody>
                {% for ticket in tickets %}
                <tr>
                <th>{{ticket.Ticket_Number}}</th>
                <th>{{ticket.Issue_Category}}</th>
                <th>{{ticket.Raised_By}}</th>
                <th>{{ticket.Raised_At}}</th>
                <th>{{ticket.Short_Description}}</th>
                <th>{{ticket.Ticket_Status}}</th>
                <th>{{ticket.User_Contact}}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>There are No Tickets Present in the System at the moment</h1>
    {%endif%}

</body>
</html>