<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Tickets List View</title>
</head>
<body>
    {% if Ticket_obj %}
        <table>
            <thead>
                <th>{{Ticket_obj.Ticket_Number}}</th>
                <th>{{Ticket_obj.Issue_Category}}</th>
                <th>{{Ticket_obj.Raised_By}}</th>
                <th>{{Ticket_obj.Raised_At}}</th>
                <th>{{Ticket_obj.Short_Description}}</th>
                <th>{{Ticket_obj.Complete_Description}}</th>
                <th>{{Ticket_obj.Ticket_Status}}</th>
                <th>{{Ticket_obj.User_Contact}}</th>
            </thead>
        </table>
    {% else %}
        <h1>There are No Tickets Present in the System at the moment</h1>
    {%endif%}
</body>
</html>