{% extends 'Ticket_Creation/home.html' %}

{% block title %} Get Help {% endblock %}

{% block content %}

<div class="chatbot">
    <div id="response"></div>
    <div class="input-area">
        <form id="chat-form">
    {% csrf_token %}

    <input
        type="text"
        id="Prompt"
        placeholder="Ask AI Assistant for help"
    >

    <button type="submit" id="send">Send</button>
</form>

    </div>
</div>

{% endblock %}
{% block extra_js %} 
<script>
const form = document.getElementById("chat-form");
const response_block = document.getElementById("response");

form.addEventListener("submit", SendData);

async function SendData(event) {

    event.preventDefault();

    const prompt = document.getElementById("Prompt").value;

    const csrfToken = document.querySelector(
        '[name=csrfmiddlewaretoken]'
    ).value;

    const payload = {
        prompt: prompt
    };

    try {

        const response = await fetch("{% url 'Get Support' %}", {
            method: "POST",

            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrfToken
            },

            body: JSON.stringify(payload)
        });

        const data = await response.json();

        if (response.ok) {

            response_block.innerHTML += `
                <div class="chat">
                    <span class="prompt-return">
                        ${prompt}
                    </span>
                    <br>
                    <span class="response-return">
                        ${data.response}
                    </span>
                </div>
            `;

        }

    } catch (error) {
        console.log(error);
    }
}
</script>
{% endblock %}