{% extends 'Ticket_Creation/home.html' %}

{% block title %} Get Help {% endblock %}

{% block content %}

<div class="chatbot">
    <div id="response"></div>
    <div class="input-area">
        <form id="chat-form">
            {% csrf_token %}
            <input type="text" id="Prompt" placeholder="Ask AI Assistant for help">
            <button type="submit" id="send">Send</button>
        </form>
    </div>
</div>

{% endblock %}
{% block extra_js %} 
<script>
const form = document.getElementById("chat-form");
const response_block = document.getElementById("response");
// const btn = document.getElementById('send');
// const input = document.getElementById('Prompt')
// btn.addEventListener('click',()=>{
//     input.value = "";
// });
form.addEventListener("submit", SendData);

async function SendData(event) {

    event.preventDefault();

    const prompt = document.getElementById("Prompt").value;

    const csrfToken = document.querySelector(
        '[name=csrfmiddlewaretoken]'
    ).value;

    const payload = {
        prompt: prompt
    };

    try {
        response_block.innerHTML += 
        `<div class="chat">
            <div class="prompt-return">
                <span>${prompt}</span>
            </div>
        </div>`

        const response = await fetch("{% url 'Get Support' %}", {
            method: "POST",

            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrfToken
            },

            body: JSON.stringify(payload)
        });

        const data = await response.json();
        if (data.redirect){
            window.location.href = data.url;
            return;
        }
        if (response.ok) {

            response_block.innerHTML += `
                <div class="response-return">
                    <span>${data.response}</span>
                </div>
                `;

        }

    } catch (error) {
        console.log(error);
    }
    console.log("AI response",data);
    console.log("Redirect Value:",data.redirect);
    console.log("Redirect URL:",data.url);
}
</script>
{% endblock %}