{% extends 'Ticket_Creation/home.html' %}

{% block title %} Get Help {% endblock %}

{% block content %}

<div class="chatbot">

    <div id="response">
        <span>Text</span>
    </div>

    <div class="prompt">
        <form>{%csrf_token%}
            <div class="tkt-raised">
                <input type="text" id="Prompt">
                <button type="button" id="send">send</button>
            </div>
        </form>
    </div>
    
</div>

{% endblock %}
{% block extra_js %} 
<script>

// async function fetchData() {
//         const UserPrompt = document.getElementById("Prompt").value;
//         console.log(UserPrompt);

//     }
//     const submit = document.getElementById("send")
//     submit.addEventListener('click',fetchData);

const buttn = document.getElementById("send");
const response_block = document.getElementById("response");

buttn.addEventListener('click',SendData)

async function SendData(){
    //Data that the user is entering 
    const prompt = document.getElementById("Prompt").value;
    //CSRF Middleware token
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    const payload = {
        prompt : prompt
    };

    try{
        const response = await fetch("{% url 'Get Support' %}" ,{
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken':csrfToken
            },
            body: JSON.stringify(payload)
        }
    );
    
    const data = await response.json();
    
    if (response.ok){
        response_block.innerHTML = `<span> ${data.response}</span>`;
        console.log(data.response);
    }
    }catch(error){
        console.log(error);
    }
}

</script>
{% endblock %}