{% extends 'Ticket_Creation/home.html' %}

{% block title %} Status {{ticket_number}} {% endblock %}


{% block content %}
{% if ticket %}
<h3>Ticket Status Page</h3>
    <table border="solid">
            <thead>
                <tr>
                    <th>Ticket Number</th>
                    <th>Issue Issue Category</th>
                    <th>Raised By</th>
                    <th>Raised At</th>
                    <th>Issue Details</th>
                    <th>Ticket Status</th>
                    <th>User Contact Details</th>

                </tr>
            </thead>
                 
            <tbody>
                <tr>
                <th>Number {{ticket.Ticket_Number}}</th>
                <th>Category {{ticket.Issue_Category}}</th>
                <th>Caller {{ticket.Raised_By}}</th>
                <th>Date {{ticket.Raised_At}}</th>
                <th>Short Description{{ticket.Short_Description}}</th>
                <th>Status {{ticket.Ticket_Status}}</th>
                <th>User Contact {{ticket.User_Contact}}</th>
                </tr>
            </tbody>
        </table>
{% elif error_message %}
        <h1>{{error_message}}</h1>

{% else %}
<form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>
    {% endif %}
{% endblock %}